@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --muted: #6b7280;
  --border: #e5e7eb;
  --primary: #2563eb;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora), sans-serif;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#2563eb;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:#f3f4f6;
}

::selection{
  background:#2563eb;
  color:white;
}